@font-face {
    font-family: IBMPlexMonoBold;
    src: url('../resources/IBMPlexMono-Bold.ttf');
}

@font-face {
    font-family: IBMPlexMonoSemiBold;
    src: url('../resources/IBMPlexMono-SemiBold.ttf');
}

* {
    box-sizing: border-box;
}

div.gallery {
    font-family: IBMPlexMonoBold;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div.text {
    font-family: IBMPlexMonoSemiBold;
    margin-bottom: 14px;
}

h1 {
    font-family: IBMPlexMonoBold;
    text-align: center;
}

p {
    text-align: center;
    font-family: IBMPlexMonoBold;
}